* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation section*/

.navigation-section {
  float: left;
  background-color: black;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

.navigation-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}

.navigation-section li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

.navigation-section li a {
  font-weight: bold;
}

.navigation-section li a:hover {
  background-color: #fff;
  color: black;
}

.navigation-section li a:hover span {
  font-weight: bold;
}

/* Welcome section */

.welcome-section {
  float: left;
  width: 70%;
  height: 100%;
  overflow: auto;
}

img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* Slideshow container */

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
  font-size: 4vh;
  padding: 8px 12px;
  position: absolute;
  bottom: 35px;
  width: 100%;
  text-align: center;
}

/* Sub-Caption text */

.subtext {
  font-size: 2vh;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
}

.text span, .subtext span {
  background-color: black;
  color: white;
  padding: 4px;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 5px;
  width: 70px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 20px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

/* Fading animations for the slideshow-container as a whole and the buttons for sliding */

.slideshow-container {
  animation-duration: 3s;
  animation-name: fadeIn
}

.slide-buttons {
  animation-duration: 5s;
  animation-name: fadeIn
}

/* Fading animations for all the paragraphs */

p, #school-types {
  animation-duration: 7s;
  animation-name: fadeIn
}

/* Text section */

.text-container {
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

#welcome-text {
  height: 80px;
}

#welcome-text span {
  font-size: 50px;
  color: white;
  padding: 8px;
  width: 0;
}

.welcome-section p:first-of-type {
  margin-top: -50px;
}

.welcome-section p {
  text-indent: 10px;
}

#school-type-explanation {
  text-indent: unset;
}

/* Layout representation for certain screen width */

@media screen and (max-width: 900px) {
  .navigation-section {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .navigation-section ul li {
    display: inline-block;
  }
  .navigation-section ul li a {
    float: left;
  }
  img {
    height: 300px;
  }
  .welcome-section {
    margin: 38px 0 0 0;
    width: 100%;
    height: auto;
    float: none;
  }
}

@media screen and (max-width: 500px) {
  .navigation-section {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .navigation-section ul li {
    display: unset;
  }
  .navigation-section ul li a {
    float: none;
    display: block;
  }
  .welcome-section {
    margin: 100px 0 0 0;
    width: 100%;
    height: auto;
    float: none;
  }
}