/* Navigation section*/

.navigation-section {
  float: left;
  background-color: black;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}

.navigation-section li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

.navigation-section li a i {
  margin-right: 6px;
  font-size: 20px;
}

.navigation-section li a {
  font-weight: bold;
}

.navigation-section li a:hover {
  background-color: #fff;
  color: black;
}

.navigation-section li a:hover span {
  font-weight: bold;
}

/* Layout representation for certain screen width */

@media screen and (max-width: 900px) {
  .navigation-section {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
  }
  .navigation-section ul li {
    display: inline-block;
  }
  .navigation-section ul li a {
    float: left;
  }
}

@media screen and (max-width: 500px) {
  .navigation-section {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
  }
  .navigation-section ul li {
    display: unset;
  }
  .navigation-section ul li a {
    float: none;
    display: block;
  }
}
